*{
    padding: 0;
    margin: 0;
}

.hello{
    background: pink;
    height: auto;
    width: 100vw;
    position: absolute;
    z-index: 1;
    overflow: hidden;
}
img{
    overflow: hidden;
    /* position: absolute;
    top: 0; */
}